//
//
// Responsive
//
// ---------------------------------------------------------------------------------------------------------------------

//
//
// Root font-size
//--------------------------------------------------------------------------------------------------
html {
  // Портретный телефон
  // Ландшафтный телефон
  // Портретный планшет
  // Ландшафтный планшет
  // Монитор
  @include media-breakpoint-only(xl) {
    font-size: 17px; // Assumes the browser default, typically `16px`
  }

  // Портретный телефон
  // Ландшафтный телефон
  // Портретный планшет
  // Ландшафтный планшет
  @include media-breakpoint-only(lg) {
    font-size: 15.5px;
  }

  // Портретный телефон
  // Ландшафтный телефон
  // Портретный планшет
  @include media-breakpoint-only(md) {
    font-size: 15px;
  }

  // Портретный/ландшафтный телефон
  @include media-breakpoint-only(sm) {
    font-size: 14.5px;
  }

  // Портретный телефон
  @include media-breakpoint-only(xs) {
    font-size: 14px;
  }
}
