@mixin caret-down {
  transform: rotateZ(0deg);
}

@mixin caret-up {
  transform: rotateZ(180deg);
}

@mixin caret-right {
  transform: rotateZ(-90deg);
}

@mixin caret-left {
  transform: rotateZ(90deg);
}

@mixin caret($direction: down) {
  @if $enable-caret {
    &::after {
      display: inline-block;
      margin-left: 0.5rem;
      width: 15px;
      content: url(../invest/assets/images/down-arrow.svg);
      @if $direction == down {
        @include caret-down;
      } @else if $direction == up {
        @include caret-up;
      } @else if $direction == right {
        @include caret-right;
      }
    }

    @if $direction == left {
      &::after {
        display: none;
      }

      &::before {
        display: inline-block;
        margin-right: 0.5rem;
        content: url(../invest/assets/images/down-arrow.svg);
        @include caret-left;
      }
    }

    &:empty::after {
      margin-left: 0;
    }
  }
}
