.table-bordered thead th, 
.table-bordered thead td {
  border-bottom: none;
}

.table-bordered {
  tfoot {
    border: none;
    tr {
      td {
        border: none;
        &:last-child {
          font-weight: bold;
        }
      }
    }
  }
}

.table {
  font-size: .875rem;
  thead {
    font-weight: bold;
  }
}