.btn-primary {
  &:hover {
  background-color: $white;
  color: $primary;
  }
}

.btn {
  font-size: .875rem;
  svg {
    margin-right: 8px;
    vertical-align: middle;
  }
}

.btn-delta {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    width: 0;
    height: 0;
    display: block;
  }
  &:before {
    border-top: 5px solid transparent;
    border-right: 10px solid $gray-500;
    border-bottom: 5px solid transparent;
    right: -1px;
  }
  &:after {
    border-top: 5px solid transparent;
    border-left: 10px solid $gray-500;
    border-bottom: 5px solid transparent;
    left: -1px;
  }
}

.btn-outline-primary {
  background: $white;
}