// Form label group
// Фокус на поле ввода не влияет
// Срабатывает только при вводе текста

// Поле пустое
.form-label-group {
  position: relative;

  .form-control {
    &::placeholder {
      color: transparent;
    }

    ~ label {
      color: $input-placeholder-color;
      cursor: text;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      margin-bottom: 0;
      padding: $input-padding-y $input-padding-x;
      pointer-events: none;
      width: 100%;
      @include transition($transition-base);
    }

    &:placeholder-shown ~ label {
      user-select: none;
    }
  }
}

// Поле заполнено
.form-label-group {
  .form-control {
    &:not(:placeholder-shown) ~ label {
      font-size: $font-size-sm;
      top: -($input-padding-y + $line-height-sm * $font-size-sm);
      padding-left: 0;

    }
  }
}


.form-check-inline {
  .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: $form-check-inline-input-margin-x;
    margin-left: 0;
    opacity: 0;
  }
}

.form-check-input:checked + .form-check-label:after {
  background: $primary;
}

.form-check-label {
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 11px;
    height: 11px;
    background: transparent;
    display: block;
    border: 1px solid $primary;
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    width: 5px;
    height: 5px;
    background: transparent;
    display: block;
  }
}

.form-inline {
  label {
    justify-content: flex-start;
  }
}

.col-form-label {
  color: $gray-700;
}

.form-control {
  font-size: .875rem;
}

