.modal-body {
  font-weight: normal;
}

.modal-header {
  .close {
    margin: 0 0 0 auto;
  }
}

.modal-footer {
  padding-top: 0;
}

.modal-header {
  justify-content: center;
  margin-top: 2.375rem;
}