// Fix для фиксированного navbar и панели аминистратора. Если администратор/редактор авторизован и есть
// панель администратора, то navbar будет иметь position: sticky, чтобы не наезжать на панель администратора
.admin-panel {
  &:not(:empty) {
    + .fixed-top {
      position: sticky !important;
    }
  }
}

.navbar {
  border-top: 2px solid $primary;
  border-bottom: 1px solid $primary;
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
}

.nav-link {
  text-transform: uppercase;
  color: $black;
}

@include media-breakpoint-down(md) {
  .navbar {
    border-top: none;
    border-bottom: 1px solid $gray-500;
    padding-bottom: 3rem;
    padding-top: 1rem;
  }
}

.offcanvas-collapse {
  bottom: 0;
  left: 100%;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: $white;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: left, visibility;
  transition-property: left, visibility;
}

.offcanvas-collapse.open {
  left: 0;
  visibility: visible;
}

@include media-breakpoint-down(md) {
  .offcanvas-collapse {
    position: fixed;
    top: 90px;
    overflow-y: auto;
    visibility: hidden;
    padding-bottom: 2rem;
  }
}

@include media-breakpoint-down(sm) {
  .navbar-brand {
    width: 60%;
  }
}