.account-top__order {
  font-size: .875rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.79;
}

.account-close {
  color: #a9a9a9;
}

.account-table {
  tr {
    td {
      white-space: nowrap;
    }
  }
  a {
    color: $dark;
    &:hover {
      text-decoration: underline;
    }
  }
}

.account-img {
  max-width: 20px;
}