.agent-contract__status {
  color: $gray;
  font-size: 0.875rem;
  span {
    color: $black;
  }
}

.agent-contract__link {
  font-style: italic;
}

.agent-contract-btn-onlain {
  &:hover {
    svg path {
      fill: $primary;
    }
  }
}