.broker-block {
  border-top: 1px solid $cyan;
  border-bottom: 1px solid $cyan;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.broker-icon-blue {
  svg {
    color: $primary;
  }
}

.broker-icon-red {
  svg {
    color: $red;
  }
}

.broker-action {
  position: relative;
}

.broker-action__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
}