.calculation-top__total {
  font-size: 1.56rem;
  font-weight: 600;
  line-height: 1.8;
}

.calculation-bottom__item {
  font-size: 0.93rem;
}

.calcTime {
  &::-webkit-slider-runnable-track{
   background-color: $indigo;
  }
}

.calculation-bottom {
  color: #8a99ac;
}