.contract-list {
  list-style: none;
  li {
    margin-bottom: 1rem;
    color: $gray;
    font-size: .875rem;
    span {
      color: $black;
    }
  }
}

.contract-btn-onlain:hover,
.contract-copy:hover {
  path,
  svg {
    fill: #5a93ad;
  }
}

.contract-copy {
  font-size: .75rem;
}