.economy {
  margin-top: 4.3rem;
}

.economy-block__name {
  font-size: 1.12rem;
}

.economy-rate__result {
  padding: .9rem 0;
  font-size: 1.56rem;
}

.economy-profit__result {
  font-size: 1.56rem;
}

.economy-btn {
  border-radius: 0;
}

.economy-label {
  font-size: .9rem;
}

.economy-summ__result {
  font-size: 1.56rem;
  line-height: 45px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}