.footer {
  a {
    @include transition($transition-base);
    color: $black; 
    &:hover {
      color: $primary;
    }
  }
}

.footer-menu {
  ul {
    li {
      margin-bottom: .5rem;
    }
  }
}


.footer-menu,
.footer-contacts__phone { 
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: $primary;
    margin-bottom: .5rem;
  }
}

.footer-menu:after {
  left: 0;
  bottom: 0;
}

.footer-contacts__phone:after {
  right: 0;
  bottom: 0;
}

.footer-copyright {
  font-size: 0.812rem;
}

.footer-documents {
  ul {
    li {
      margin-bottom: .3rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.footer-contacts__phone {
  font-size: 1.5rem;
}

.footer-social {
  a {
    width: 50px;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    color: $white;
    background: $primary;
    @include transition($transition-base);
    &:hover {
      color: $primary;
      background: $white;
    }
  }
}

@include media-breakpoint-down(sm) {
  .footer-contacts__phone:after {
    right: 50%;
    transform: translateX(50%);
  }
}