.graph-payment {
  background: $gray-500;
  padding: 4.375rem 0;
}

.graph-payment__btn {
  margin-bottom: -45px;
}

.graph-payment-card.graph-payment-card-active {
  border-color: $primary;
  background: $white;
}

.graph-payment-card {
  border-color: transparent;
  background: $gray-400;
  @include transition($transition-base);
  &:hover {
    border-color: $primary;
    background: $white;
  }
}

.graph-payment__img {
  max-height: 165px;
}

