.header-logo__text {
  font-size: 1.1rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #636363;
}

.header-city__form {
  font-size: 0.8rem;
  color: $primary;
}

.header-contacts__phone {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
  line-height: 1.04;
  color: #424242;
}

.header-personal__graph {
  font-size: 0.875rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.79;
  letter-spacing: 0.4px;
  color: $black;
}
