.issue-payment__title,
.issue-payment__warning {
  padding-top: 2.4rem;
  padding-bottom: 1.8rem;
}

.issue-payment__summ {
  padding: 1.8rem .8rem;
  font-size: .875rem;
  color: $gray;
  width: 49%;
  span {
    font-size: 1rem;
    color: $black;
    display: block;
  }
}

.issue-payment__warning {
  font-size: .875rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  background: $red;
  color: $white;
}