.loan-steps__item {
  position: relative;
}

.step-arrow {
  position: absolute;
  left: -40%; 
  top: 50%;
  transform: translate(50%,-50%);
  width: 20px;
  height: 20px;
  fill: $gray-200;
}

.loan-steps {
  border-bottom: 1px solid $secondary;
}

.confirm-form {
  margin-top: 2.43rem;
  padding-top: 1rem;
  border-top: 1px solid $secondary;
}

.confirm-form__text {
  font-size: .875rem;
  color: $gray-700;
}

@include media-breakpoint-down(xs) {
  .loan-application__content,
  .personal-card {
    padding-left: 0;
    padding-right: 0;
    .form-group,
    .row {
      margin-left: auto;
      margin-right: auto;
    }
  }
}