.loan-card {
  box-shadow: 0px 5px 15.4px 0.6px rgba(221, 221, 221, 0.6);
}

.main-loans-card {
  padding: 2.56rem 0;
}

.loan-status__list {
  margin-bottom: 0;
  li {
    margin-bottom: .5rem;
    font-weight: $font-weight-light;
    font-size: .875rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  span {
    font-weight: $font-weight-semibold;
  }
}

.main-loans-text {
  font-size: .875rem;
}