.manager-info__photo {
  width: 110px;
  height: 110px;
}

.manager-info__name {
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  padding-left: 1rem;
}

.manager-post {
  font-size: .81rem;
  font-weight: 300;
  color: $gray;
}

.manager-title {
  display: inline-block;
  background: $white;
  overflow: hidden;
  z-index: 10;
}

.manager-title:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #ddd;
  position: absolute;
  top: 35px;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}

.manager-card {
  z-index: 0;
}

.manager-buttons a{
  width: 49%;
}

.manager-btn-phone:hover {
  svg {
    fill: $white;
  }
}

.manager-info__photo {
  border: 1px solid $cyan;
  border-radius: 50%;
  padding: 8px;
  width: 95px;
  height: 95px;
}