.support-text {
  font-weight: 300;
  margin-bottom: 1.75rem;
}

.support-btn {
  border-color: $white;
  color: $white;

  &:hover {
    color: $primary;
    border-color: $white;
    background: $white;
  }
  
}