.total-payment__summ {
  background: $blue;
  color: $white;
  font-weight: 600;
  font-style: normal;
  line-height: 1.56;
  border-radius: 0 0 5px 5px;
}

@include media-breakpoint-down(sm) {
  .total-payment-card {
    border: none;
  }
  .total-payment__summ {
    border-radius: 5px;
  }
}
