.work-files__contacts {
  background: $blue;
  color: $white;
  svg {
    color: $white;
  }
}

.work-files__list {
  a {
    margin-bottom: .5rem;
    svg {
      margin-right: 0.8rem;
      font-size: 1.5rem;
    }
  }
}
